


<div class="event_details text-dark">

  <span class=""><%= event.name if event.name.present?%></span> <br>
  Venue: <%= event.venue.upcase %> <br>

  Time : <%= Time.parse(event.start_time.to_s).strftime("%I:%M%p")  %> -
  <%= Time.parse(event.end_time.to_s).strftime("%I:%M%p")  %> <br>

  Address: <%= event.address %> <br>
  Special Guest : <%= event.special_guest ? event.special_guest: 'None' %> <br> <br>
<div class="d-flex justify-content-between">
  <div class="">
  <%# <%= link_to 'GET TICKET NOW', event.paypal_url(event),class:"btn btn-danger" %>
  </div>
  <div class=""><%= link_to 'GET TICKET NOW', buyticket_path, class:"btn btn-danger", remote: true %></div>
  <div class=""><a href="">All Events</a></div>
</div>

</div>
